/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root{
  --delete-and-error:#ff0e51;
  --primery-color:#1890ff;
  --place-holde-color:#999;
}

